<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <title>Personal NFT Mint</title>
  <meta name="author" content="David G. Smith">
  <meta name="description" content="A personal NFT mint for an artist.">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- <div id="testButton" class="btn btn-warning">Click me</div> -->
  <!-- Header area -->

  <%- include('header'); %>


  <main>
    <!-- Splash page -->
    <section>
      <div class="container-fluid">
        <div id="splash" class="area">
          <div class="spacer"></div>
          <div id="hero-text" class="position-absolute top-50 start-50 translate-middle text-light text-center">
            <h1 class="display-1">David G. Smith</h1>
            <h2>Visual Artist</h2>
            <p>Generative Art NFT Project Collection</p>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <!-- Featured project area -->
      <section>
        <div id="featured" class="area">
          <div class="spacer"></div>
          <div class="row justify-content-center">
            <div class="col-10 text-center justify-content-center">
              <p class="display-3">Feature Project</p>
              <div class="row">
                <div id="featuredImage" class="col-7 m-2">
                  <img class="me-auto img-fluid" src="./images/satellite.jpg" role="img" alt="featured project image">
                </div>
                <div id="featuredInfo" class="text-start col-3 m-2 text-light">
                  <div>Name: Satellite</div>
                  <div>Description: Generative images of imaginary satellites in imaginary spaces.</div>
                  <div>Editions: 64</div>
                  <div>Price: 2 MATIC</div>
                  <div>Opens: 1 October 2023</div>
                  <div><a href="/project/1"><button id="goToFeaturedProjectButton" type="button"
                        class="m-2 btn btn-outline-light">Go to this
                        project</button></a></div>
                  <div><a href="/projects"><button id="allProejctsButton" type="button"
                        class="m-2 btn btn-outline-light">See all
                        projects</button></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- About me area -->
      <section>
        <div id="about" class="area">
          <div class="spacer"></div>
          <div class="row justify-content-center">
            <div class="col-10 text-center justify-content-center">
              <p class="display-3">About the Artist</p>
              <div class="row">
                <div id="featuredInfo" class="col-5 m-2 mt-5 text-light text-end justify-content-end">
                  <div>Et ea labore laboris amet ullamco ut non duis duis. Culpa culpa nulla deserunt occaecat. In quis
                    ex
                    anim ullamco officia irure consequat quis ut et elit eiusmod aute. Occaecat minim anim reprehenderit
                    nulla mollit. Nulla commodo cillum eiusmod magna. Esse velit pariatur exercitation mollit quis velit
                    tempor excepteur nulla ad irure proident eiusmod. Aute sit laborum excepteur eiusmod fugiat id
                    aliquip
                    in laboris sint proident amet incididunt.</div>
                  <div><a href="/contact"><button id="goToContactPageButton" type="button"
                        class="m-2 btn btn-outline-light">Contact
                        me</button></a></div>
                </div>
                <div id="featuredImage" class="col-5 m-2 justify-content-start">
                  <img class="me-auto img-fluid" src="./images/davidGailSmith.png" role="img" alt="artist image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <!-- Footer area -->
  <div class="container-fluid">
    <%- include('footer'); %>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script type="module" src="./js/index.js"></script>
</body>

</html>