<div class="card m-2 h-100fadein">
  <img src="<%=image %>" class="card-img-top" alt="An image of the <%= name %> project">
  <div>
    <div class="card-title col text-center">
      <h3>
        <%= name %>
      </h3>
    </div>
  </div>
  <div class="card-footer">
    <a href="/project/<%= ident %>" class="btn btn-primary">Project Profile</a>
  </div>
</div>