html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: RGB(165, 167, 188);
  font-family: orbitron;
}

/* div {
  border: 1px solid red;
} */

@keyframes fadeInAnimation {
  /*for div fade-in */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

card {
  min-height: 400px;
}

.fadein {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.area {
  min-height: 750px;
}

.spacer {
  min-height: 75px;
}

#splash {
  min-height: 800px;
  background: url("/images/DeepDreamTwoPaintings.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
